---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebastian Dittrich">
  <img
    src="/profile.png"
    class="h-20 rounded-full border border-blue-500 p-1"
    alt="Tailwind Play"
  />
  <div class="divide-y divide-gray-300/50">
    <div class="pb-8">
      <p class="mt-8 text-base font-semibold text-gray-900">
        Sebastian Dittrich
      </p>
      <p class="leading-7 text-gray-600">Product Owner & Softwareentwickler</p>
    </div>
    <div class="pt-8 text-base font-semibold leading-7">
      <p class="text-gray-900">Interessiert an einer Zusammenarbeit?</p>
      <p>
        <a
          href="https://calendly.com/dittrich-dev/30min?month=2024-02"
          target="_blank"
          class="text-sky-500 hover:text-sky-600"
        >
          Lass uns reden &rarr;
        </a>
      </p>
    </div>
  </div>
</Layout>
